*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix{
    clear:both;
}
ul{
    list-style: none;
}
/* start header */
.main{
   
    background-color: #333;
    color:#ddd;
    text-align: center;


}
header div img{
    height: 90px;

}
header .icon{
    
    position: relative;
    margin-left: -50%;
    margin-top: -3%;
}

header .icon .insta{
    height: 30px;
    padding: 10px;
    

}

nav{
 
        
    background-color: #ddd;
}
nav ul{
    padding: 20px;
    text-align: center;
}
nav ul li{
    display: inline-block;

}
nav ul li a{ 

}
nav ul li:after{
    content: "|";
}
nav ul li:last-child:after{
    content: "";
}
/*end header */
/*start main*/
main {
    background-color: #eee;
    padding: 20px;
    text-align: center;
}
.sticky{
    position:sticky;
    top:0;
}

/*end main*/
/*start article*/
.post{
    width: 70%;
    float: right;
}
.post article{
    background-color: #f6f6f6;
    border:1px solid #ccc;
    margin: 20px;
}
.post article section{
  align-items: center;
}
.post article video{
    height: 200px;
    
    
}
.post article div img{
    height: 300px;
}
.post article header{
    background-color: #e2e2e2;
    padding: 10px;
    text-align: center;

}
.post article section{
    padding: 10px;
    
}
.post article section p,h1,h2,h3,h4,h5,h6{
    text-align: center;
    

}
.post article section div table {
    margin: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;

}
.post article section div table td,th{
   
    border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;

}
.post article section div table tr:nth-child(even) {
    background-color: #dddddd;


}

/*end article*/
/*start aside*/
aside{
    position:sticky;
    top:20%;
    float: left;
    width: 30%;
    
    text-align: center;
}
aside section{
    background-color: #eee;
    margin: 20px ;
    padding: 10px;
    border: 1px solid #ccc;


}
aside section h3{
    background-color:#d1d1d1 ;
    padding: 10px;
    text-align: center;
}
aside section ul {
    margin-top: 10px;
}
aside section ul li {
    line-height: 1.6;
}

/*end aside*/
/*start footer*/
footer{
    background-color: #333;
    color:#ddd;
    text-align: center;
    padding: 10px;
}